/* Common Styles for Customer Pages */
body {
    background-color: #0a0f1c;
}

.sidebar {
    width: 265px;
}

.menu-item.active {
    background-color: #FFCC00 !important;
    color: #000 !important;
}

.menu-item:hover {
    background-color: #000 !important;
    color: #fff !important;
}

/* Hide Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}