/* Home Page Styles */
body {
    background-color: #0a0f1c;
}

.sidebar {
    width: 265px;
}

.menu-item.active {
    background-color: #FFCC00 !important;
    color: #000 !important;
}

.menu-item:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.reveal {
    opacity: 0;
    transform: translateY(18px);
    transition: all 0.6s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}